.servo_profile_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.servo_profile_capa {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.servo_profile_capa > img {
    height: 100%;
    width: 100%;
    opacity: 0.2;
}

.servo_profile_content {
    margin: 0px;
    padding: 0px;
    width: 60%;
    height: 80%;
    padding: 1%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(14, 0, 45);
    position: absolute;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.servo_profile_informations{
    border: 2px solid white;
    border-radius: 10px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 400px;
}

.servo_profile_informations_image{
    border: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servo_profile_informations_image > img{
    height: 100%;
    width: 70%;
    margin-bottom: 50px;
}

.servo_profile_informations_titles{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.servo_profile_informations_titles > span{
    margin-top: 15px;
    font-size: 18px;
}

.servo_profile_informations_descricao{
    /*border: 2px solid red;*/
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 55%;
    margin-top: 3%;
}

.servo_profile_button_update{
    position: absolute;
    top: 100px;
    right: 80px;
    display: flex;
    flex-direction: column;
}

.update_servo_form, .delete{
    border-radius: 10px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: transparent;
    border: 3px solid white;
    transition: 0.3s;
    margin-bottom: 15px;
}

.update_servo_form:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.delete:hover{
    background-color: red;
    border: 3px solid red;
    cursor: pointer;
    color: white;
}