#root{
  height: 100%;
  background-color: black;
}

*{
  box-sizing: border-box;
}

html {
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
}

h1{
  margin: 0;
}

.parent{
  display: flex;
  position: relative;
  height: 100%;
}

.parent_sub{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.parent > div{
  margin-left: 300px;
}

.parent_user > div{
  margin-top: 5%;
}