@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Poppins:wght@300;700&display=swap');


*{
  font-family: sans-serif;
  box-sizing: border-box;
  color: white;
  box-sizing: border-box;
}