@keyframes slideTopToBottom{
    from{
        transform: translateY(-200px);
        opacity: 0;
    }

    to{
        transform: translateX(0);
        opacity: 1;
    }

}

.slideBottomToTop{
    animation: slideBottomToTop 0.6s ease-in;
}