@keyframes slideBottomToTop{
    from{
        transform: translateY(-200px);
        opacity: 0;
    }

    to{
        transform: translateX(0);
        opacity: 1;
    }

}

.slideBottomToTop{
    animation: slideBottomToTop 0.6s ease-in;
}

.slideTopToBottom{
    animation: slideTopToBottom 0.4s ease-in-out;
}

.faded:hover{
    cursor: pointer;
    animation: faded 0.3s ease-in-out;
}

@keyframes slideTopToBottom{
    from{
        transform: translateY(-30px);
        opacity: 0;
    }

    to{
        transform: translateX(0);
        opacity: 1;
    }

}

@keyframes faded{
    from{
        opacity: 1;
    }
    to{
        opacity: 0.3;
    }
}