.container_confirm{
    background-color: rgba(0, 0, 0, 0.424);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 75%;
    z-index: 5;
}

.confirm_box{
    background-color: gray;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirm_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.confirm_buttons > button{
    width: 100%;
    padding: 15px;
    background-color: transparent;
    text-align: start;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 3px;
    transition: 0.4s;
}

.confirm_buttons > button:hover{
    background-color: rgba(0, 0, 0, 0.15);
}