.container_sidebar{
    height: 100%;
    width: 300px;
    border-right: 2px solid rgba(255, 255, 255, 0.282);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar_header{
    padding: 10px;
    margin-top: 30px;
    width: 100%;
}

.logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.logo > img{
    width: 130px;
}
.sidebar_header_profile{
    display: flex;
    align-items: center;
}

.sidebar_header_profile > img{
    height: 50px;
    width: 50px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 50%;
}

.sidebar_header_profile > span{
    min-width: 100px;
}
.sidebar_nav{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    transition: 0.3s;
}

.sidebar_item{
    display: flex;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar_item:hover{
    margin-left: 30px;
}

.sidebar_item:hover a{
    /*background-color: gray;*/
    border-radius: 10px;
}

.sidebar_item:active{
    transform: scale(1.1);
    transition: 0.3s;
}

.sidebar_nav a, .nav_item{
    width: 100%;
    text-decoration: none;
    transition: 0.4s;
    font-size: 18px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.sidebar_nav svg{
    margin-right: 10px;
    height: 19px;
    width: 19px;
}